<header class="page-header">
    <h1>メモ一覧</h1>
</header>
<div class="main">
    <form action="/memos/new" method="GET">
        <button type="submit" class="button">新規メモ作成</button>
    </form>

    <ul>
        <% @memos.each do |memo| %>
            <li class="memo-item">
                <a href="/memos/<%= memo['uuid'] %>"><%= h memo['title'] %></a>
                <form action="/memos/<%= memo['uuid'] %>" method="POST" class="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="button">削除</button>
                </form>
            </li>
            <br>
        <% end %>
    </ul>
</div>
