<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta cherset="UTF-8">
    <title><%= @title || "Memos App" %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
