<header class="page-header">
    <h1><%= h @memo['title'] %></h1>
</header>

<div class="main">
    <p><%= h @memo['content'] %></p>
</div>

<div class="menu">
    <form action="/memos/<%= @id %>/edit" method="GET">
        <button type="submit" class="button">編集</button>
    </form>

    <form action="/memos/<%= @id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="button">削除</button>
    </form>
</div>

<br>

<form action="/" method="GET">
    <button type="submit" class="button">メモ一覧</button>
</form>
